// .breadcrumb-modify {
//     margin-top: 500px !important;
//     margin-bottom: 0 !important;
//     padding: 0 !important;
//     @media (max-width: 1600px) {
//         margin-top: 350px !important;
//     }
//     @media (max-width: 1440px) {
//         margin-top: 300px !important;
//     }
//     @media (max-width: 1023px) {
//         margin-top: 290px !important;
//     }
//     @media (min-width: 781px) and (max-width: 830px) {
//         margin-top: 445px !important;
//     }
//     @media (min-width: 701px) and (max-width: 780px) {
//         margin-top: 405px !important;
//     }
//     @media (min-width: 651px) and (max-width: 700px) {
//         margin-top: 370px !important;
//     }
//     @media (min-width: 576px) and (max-width: 650px) {
//         margin-top: 300px !important;
//     }
//     @media (min-width: 551px) and (max-width: 575px) {
//         margin-top: 280px !important;
//     }
//     @media (min-width: 471px) and (max-width: 550px) {
//         margin-top: 260px !important;
//     }
//     @media (min-width: 451px) and (max-width: 470px) {
//         margin-top: 200px !important;
//     }
//     @media (min-width: 421px) and (max-width: 450px) {
//         margin-top: 170px !important;
//     }
//     @media (min-width: 410px) and (max-width: 420px) {
//         margin-top: 150px !important;
//     }
//     @media (min-width: 361px) and (max-width: 409px) {
//         margin-top: 135px !important;
//     }
//     @media (min-width: 280px) and (max-width: 360px) {
//         margin-top: 100px !important;
//     }
// }
.breadcrumb-modify {
    margin-bottom: 0 !important;
    padding: 0 !important;
}
.breadcrumb-item.active {
    display: flex;
    align-items: center;
}

.breadcrumb-item {
    display: inline-flex !important;
    align-items: center !important;
}

.iconHome {
    width: 42px;
    height: 42px;
    @media (max-width: 575px) {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}

.breadcrumb-home {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
}

.breadcrumb-text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    text-decoration: none;
    @media (max-width: 320px) {
        font-size: 10px;
    }
}

a.breadcrumb-text:hover {
    text-decoration: none;
    color: $primary;
}

a.breadcrumb-text--Blue:hover {
    text-decoration: none;
    color: $color5;
}

.breadcrumb-text.active {
    font-weight: 600;
}

.breadcrumb-item+.breadcrumb-item.breadcrumb-item--Blue::before {
    display: inline-flex !important;
    align-items: center !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    height: 12px;
    line-height: 12px;
    content: url("images/icons/blue-triangle.svg") !important;
    @media (max-width: 575px) {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
    @media (max-width: 320px) {
        height: 10px;
        line-height: 10px;
    }
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-flex !important;
    align-items: center !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    height: 12px;
    line-height: 12px;
    content: url("images/icons/triangle.svg") !important;
    @media (max-width: 575px) {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
    @media (max-width: 320px) {
        height: 10px;
        line-height: 10px;
    }
}

.breadcrumb-text.color6:hover {
    text-decoration: none;
    color: $color6;
}

.breadcrumb-interior.breadcrumb-item.active>a:hover {
    color: $color6 !important;
}