.footer {
    padding: 20px 0;
    background: url("images/uploads/logo-tranparent.png") no-repeat left 60px bottom 20px $black;
    @media (max-width: 575px) {
        background: url("images/uploads/logo-tranparent.png") no-repeat left 50% bottom 70% #000000;
        background-size: 75%;
    }
}

.footer-top {
    >* {
        color: white;
    }
    &__item {
        margin-bottom: 20px;
    }
    &__title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    &__desc {
        font-size: 12px;
    }
}

.hr-red {
    border-bottom: 1px solid $primary;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ft-link-list {
    >li {
        margin-bottom: 15px;
    }
}

.ft-link {
    font-weight: bold;
    font-size: 16px;
    color: white;
    &:hover {
        color: $color3;
    }
    @media (max-width: 768px) {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .logoFtAston {
        display: block;
        text-align: center;
    }
}

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 12px;
    color: white;
    cursor: pointer;
    outline: none;
    text-align: center;
    background: transparent;
    >img {
        @media (max-width: 1280px) {
            width: 50px;
        }
        @media (max-width: 575px) {
            width: 40px;
        }
    }
    .textToTop {
        @media (max-width: 575px) {
            display: none;
        }
    }
}

.copyrighted {
    font-size: 12px;
    color: white;
    margin-top: 50px;
    @media (max-width: 575px) {
        text-align: center;
        margin-top: 30px;
    }
}

.backToTop {
    width: 50px;
}

// img.img-fluid.borderWhite-3 {
//     height: 100%;

//     @media (max-width: 991px) {
//         object-fit: cover!important;
//         width: 100%!important;
//         height: 100%!important;
//         display: block!important;
//     }
// }