.header-top {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
    @media (max-width: 992px) {
        display: block;
        padding-top: 10px;
        margin-bottom: 0;
    }
}

.header-left {
    @media (max-width: 992px) {
        display: none;
    }
    >ul>li {
        margin-right: 40px;
    }
    &__link {
        font-size: 12px;
        color: white;
        &:hover {
            color: $color3;
        }
    }
}

.header-right {
    text-align: right;
    @media (max-width: 575px) {
        .d-flex.justify-content-end {
            justify-content: space-between !important;
        }
    }
}

.header-note-time {
    font-size: 12px;
    color: white;
    @media (max-width: 575px) {
        font-size: 10px;
    }
}

.header-upper {
    display: flex;
    // justify-content: space-between;
    background: white;
    border-radius: 10px;
    padding: 10px 20px;
    height: 71px;
    margin-bottom: 30px;
    box-shadow: 0 4px 4px #00000040;

    @media (max-width: 991px) {
        justify-content: space-between;
    }

    @media (min-width: 992px) {
        padding: 10px 8px 10px 20px!important;
    }

    @media (max-width: 992px) {
        align-items: center;
        height: 51px;
        border-radius: 6px;
        margin-bottom: 10px;
        .logo>a {
            max-width: 104px;
            line-height: 0;
        }
    }
}

.header-link-yellow {
    @media (max-width: 992px) {
        max-width: 172px;
    }
}

.header-hotline .heading-24 {
    @media (max-width: 992px) {
        font-size: 16px;
    }
}

.header-sticky {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.sub-menu {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin-bottom: 0;
    display: none;
    >li {
        margin-bottom: 6px;
    }
    &__link {
        background: white;
        display: block;
        text-align: center;
        padding: 10px;
        color: $black;
        font-size: 16px;
    }
}

.header-humburger {
    cursor: pointer;
}

.icon-humburger-close {
    display: none;
}

@media (max-width: 992px) {
    .hd-fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border: 0;
        background: red;
        height: 100vh;
        z-index: 6666;
        max-width: 100% !important;
        transition: all 0.4s;
        overflow-y: auto;
        .sub-menu {
            height: 100%;
            opacity: 1;
            visibility: visible;
            display: block;
        }
        .icon-humburger {
            display: none;
        }
        .icon-humburger-close {
            display: block;
        }
    }
}

.bg-header {
    background: url("images/uploads/background-red.png") no-repeat center top;
    background-size: cover;
    transition: all 0.4s;
    padding-bottom: 15px;
    @media (max-width: 767px) {
        background: url("images/uploads/background-red-mobile.png") no-repeat;
        background-position: top;
        background-size: cover;
    }
}

.bg-header.sticky-header {
    // position: fixed;
    // left: 0;
    // right: 0;
    // top: 0;
    z-index: 99999;
    box-shadow: 0 4px 4px #00000026;
    transition: all 0.4s;
    // .header-top {
    //     opacity: 0;
    //     visibility: hidden;
    //     transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    //     height: 0;
    // }
}

.header-links {
    margin-top: 6px;
    margin-left: 20px;

    a {   
        @media (min-width: 992px) {
            margin-right: 16px;
        }
    }

    a:last-child {   
        @media (min-width: 992px) {
            margin-right: 0px;
        }
    }
}