.titleTFooter {
    display: flex;
    justify-content: center;
    @media (max-width: 768px) {
        // font-size: 35px !important;
        margin-bottom: 70px !important;
    }
    @media (max-width: 575px) {
        // font-size: 48px !important;
        margin-bottom: 50px !important;
    }
    @media (max-width: 359px) {
        // font-size: 30px !important;
    }
}

.contactTFooter {
    border: 5px solid;
    border-radius: 10px;
    position: relative;
    padding: 60px 10px 30px;
    &--borderBlue {
        border-color: #3e619e;
    }
    &--borderPrimary {
        border-color: $primary;
    }
    @media (min-width: 991px) {
        padding-left: 25px;
        padding-right: 25px;
        // padding-right: 60px;
    }
    &__wp-item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 0%;
        left: 40px;
        right: 40px;
        transform: translate(0, -50%);
        @media (max-width: 991px) {
            justify-content: center;
            flex-wrap: wrap;
            left: 0px;
            right: 0px;
            top: 2%;
        }
    }
    &__name {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $white;
        white-space: nowrap;
        @media (max-width: 575px) {
            font-size: 16px;
        }
        @media (max-width: 360px) {
            font-size: 12px;
        }
    }
    &__item {
        background-image: url("images/uploads/bg-contact.png");
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
        border-radius: 10px;
        padding: 24px 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        @media (max-width: 991px) {
            padding: 16px 18px;
            width: 30%;
            margin-top: 5px;
            margin-right: 2.5px;
            margin-left: 2.5px;
            width: 30%;
        }
    }
    &__wp-content {
        padding-left: 55px;
        padding-right: 55px;
        @media (max-width: 280px) {
            margin-top: 45px !important;
        }
        @media (max-width: 575px) {
            margin-top: 30px !important;
            padding-left: 0;
            padding-right: 0;
        }
        @media (max-width: 991px) {
            margin-top: 45px !important;
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__text {
        font-weight: 300 !important;
        font-size: 16px !important;
        line-height: 24px !important;
    }
    &__needed {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 30px;
        @media (max-width: 991px) {
            flex-direction: column;
            padding: 0 10px 15px;
        }
    }
    &__needed-wp {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        &:last-child {
            align-items: flex-end;
            @media (min-width: 1200px) {
                margin-right: 40px;
            }
            @media (max-width: 575px) {
                align-items: center;
                justify-content: center;
                margin-top: 30px;
                margin-right: 0;
            }
        }
    }
    &__needed-item {
        display: inline-flex;
        align-items: center;
        @media (max-width: 575px) {
            padding: 0 15px;
        }
        @media (max-width: 360px) {
            padding: 0 !important;
        }
    }
    &__tick {
        width: 30px;
        height: 30px;
        margin-right: 25px;
        @media (max-width: 575px) {
            margin-right: 10px;
        }
    }
    &__target {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        @media (max-width: 359px) {
            font-size: 12px;
        }
    }
    &__hotline {
        // font-weight: 600;
        // font-size: 24px;
        // line-height: 36px;
        // text-shadow: 0px 4px 4px rgba(232, 33, 0, 0.5);
        // -webkit-text-stroke: 0.75px $white;
        @media (max-width: 575px) {
            text-align: center;
            margin: auto;
            margin-bottom: 14px;
        }
        @media (max-width: 359px) {
            font-size: 18px;
        }
    }
    &__phone {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-decoration: none;
        text-align: right;
    
        @media (min-width: 992px) {
            margin-top: 20px;
        }

        @media (max-width: 575px) {
            justify-content: center;
            text-align: center;
        }
    }
    &__phone:hover {
        text-decoration: none;
    }
    &__icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }
    &__number-phone {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        @media (max-width: 359px) {
            font-size: 20px !important;
        }
    }
    &__btn {
        background: #e82100;
        box-shadow: 0px 4px 4px rgba(232, 33, 0, 0.5), inset 0px 4px 4px #ff9000;
        border-radius: 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 8px 40px;
        outline: none;
        width: fit-content;
        outline: none;
        text-decoration: none;
        &:hover {
            background: #e82100;
            text-decoration: none;
            transition: 0.5s;
            transform: translateY(2px) translateX(2px);
        }
    }
    &__view-more:hover {
        background: #e82100;
        box-shadow: 0px 4px 4px rgba(232, 33, 0, 0.5), inset 0px 4px 4px #ff9000;
        transition: 0.5s;
        transform: translateY(2px) translateX(2px);
    }
}

.feedbackTFooter {
    margin-top: 20px;
    padding: 60px 10px 30px;
    @media (min-width: 992px) {
        padding: 73px 85px 30px;
        margin-top: 25px;
    }
    &__wp-item {
        @media (max-width: 991px) {
            top: 0 !important;
            left: 40px;
            right: 40px;
        }
    }
    &__col-right {
        @media (max-width: 991px) {
            padding-right: 0 !important;
        }
    }
    &__item {
        @media (max-width: 991px) {
            padding: 16px 18px !important;
            margin-top: 0;
            flex: 1;
        }
    }
    &__name {
        @media (max-width: 575px) {
            font-size: 24px;
        }
        @media (max-width: 359px) {
            font-size: 16px;
        }
    }
    &__logo {
        height: 105px;
        width: fit-content;
        display: inline-block;
        @media (max-width: 991px) {
            padding: 0 25px;
        }
    }
    &__icon {
        width: 32px;
        height: 32px;
        margin-right: 30px;
        @media (max-width: 991px) {
            width: 26px;
            height: 26px;
            margin-right: 12px;
        }
    }
    &__number-phone {
        font-weight: bold;
        font-size: 48px;
        @media (max-width: 1199px) {
            font-size: 36px !important;
        }
        @media (max-width: 991px) {
            font-size: 24px !important;
        }
        @media (max-width: 359px) {
            font-size: 20px !important;
        }
    }
    &__info {
        font-weight: bold;
        font-size: 24px !important;
        line-height: 36px !important;
        text-align: right;
        @media (max-width: 1199px) {
            font-size: 20px !important;
        }
        @media (max-width: 991px) {
            font-size: 16px !important;
        }
        @media (max-width: 360px) {
            font-size: 13px !important;
        }
    }
    &__btn {
        padding: 22px 58px;
        @media (max-width: 991px) {
            width: inherit;
        }
        @media (max-width: 359px) {
            padding: 20px 30px;
        }
    }
}

.titleTFooter1 {
    @media (max-width: 767px) {
        display: none !important;
    }
}

.titleTFooter1-mobile {
    display: none;
    @media (max-width: 767px) {
        display: block !important;
    }
}

h3.titleTFooter.line-4.color-primary.text-center.mb-60.mt-30 {
    @media (min-width: 768px) {
        margin-bottom: 75px!important;
    }
}

h3.titleTFooter.line-4.color-primary.text-center.mb-20.mt-25 {
    @media (min-width: 768px) {
        margin-bottom: 55px!important;
        margin-top: 35px!important;
    }
    
}