// line-clamp
.line-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-6 {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

button {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    font-style: initial;
    line-height: initial !important;
    // font-size: 1rem !important;
}

// start custom padding
@mixin p($top, $right, $bottom, $left) {
    padding-top: $top + px !important;
    padding-right: $right + px !important;
    padding-bottom: $bottom + px !important;
    padding-left: $left + px !important;
}

@mixin pl($left) {
    padding-left: $left + px !important;
}

@mixin pr($right) {
    padding-right: $right + px !important;
}

@mixin pb($bottom) {
    padding-bottom: $bottom + px !important;
}

@mixin pt($top) {
    padding-top: $top + px !important;
}

@mixin ptb($top, $bottom) {
    padding-top: $top + px !important;
    padding-bottom: $bottom + px !important;
}

@mixin plr($left, $right) {
    padding-left: $left + px !important;
    padding-right: $right + px !important;
}

@for $i from 0 to 200 {
    .p-#{$i} {
        @include pt($i);
        @include pr($i);
        @include pl($i);
        @include pb($i);
    }
    .pt-#{$i} {
        @include pt($i);
    }
    .pr-#{$i} {
        @include pr($i);
    }
    .pb-#{$i} {
        @include pb($i);
    }
    .pl-#{$i} {
        @include pl($i);
    }
    .plr-#{$i} {
        @include pl($i);
        @include pr($i);
    }
    .ptb-#{$i} {
        @include pt($i);
        @include pb($i);
    }
}

// end custom padding
// start custom margin
@mixin m($top, $right, $bottom, $left) {
    margin-top: $top + px !important;
    margin-right: $right + px !important;
    margin-bottom: $bottom + px !important;
    margin-left: $left + px !important;
}

@mixin mt($top) {
    margin-top: $top + px !important;
}

@mixin ml($left) {
    margin-left: $left + px !important;
}

@mixin mr($right) {
    margin-right: $right + px !important;
}

@mixin mb($bottom) {
    margin-bottom: $bottom + px !important;
}

@mixin mtb($top, $bottom) {
    margin-top: $top + px;
    margin-bottom: $bottom + px !important;
}

@mixin mlr($left, $right) {
    margin-left: $left + px !important;
    margin-right: $right + px !important;
}

@for $i from 0 to 200 {
    .m-#{$i} {
        @include mt($i);
        @include mr($i);
        @include ml($i);
        @include mb($i);
    }
    .mt-#{$i} {
        @include mt($i);
    }
    .mr-#{$i} {
        @include mr($i);
    }
    .mb-#{$i} {
        @include mb($i);
    }
    .ml-#{$i} {
        @include ml($i);
    }
    .mlr-#{$i} {
        @include ml($i);
        @include mr($i);
    }
    .mtb-#{$i} {
        @include mt($i);
        @include mb($i);
    }
}

@mixin border-radius-($a) {
    border-radius: $a + px;
    -webkit-border-radius: $a + px;
    -moz-border-radius: $a + px;
    -ms-border-radius: $a + px;
    -o-border-radius: $a + px;
}

// custom fontsize
@mixin fontsize($size) {
    font-size: $size + px;
}

@for $i from 8 to 50 {
    .fontsize-#{$i} {
        @include fontsize($i);
    }
}

@for $i from 8 to 50 {
    .heading-#{$i} {
        @include fontsize($i);
        font-weight: bold;
    }
}

.img-cover {
    // object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.img-contain {
    object-fit: contain;
    height: 100%;
    width: 100%;
    display: block;
}

.img-scaledown {
    object-fit: scale-down;
    height: 100%;
    width: 100%;
    display: block;
}

.zoomIn {
    img.in {
        transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        transition: ease-in-out 0.3s;
        -webkit-transition: ease-in-out 0.3s;
        -moz-transition: ease-in-out 0.3s;
        -ms-transition: ease-in-out 0.3s;
        -o-transition: ease-in-out 0.3s;
    }
    &:hover {
        img.in {
            transform: scale3d(0.97, 0.97, 1);
            -webkit-transform: scale3d(0.97, 0.97, 1);
            -moz-transform: scale3d(0.97, 0.97, 1);
            -ms-transform: scale3d(0.97, 0.97, 1);
            -o-transform: scale3d(0.97, 0.97, 1);
        }
    }
}

.mlr--5 {
    margin-left: -5px !important;
    margin-right: -5px !important;
}