.about-purchase {
    &__nav-pills {
        margin-bottom: 96px !important;
        @media (max-width: 767px) {
            margin-bottom: 40px !important;
        }
    }
    &__tab-content {
        margin-bottom: 100px;
        @media (max-width: 767px) {
            margin-bottom: 40px;
        }
    }
    &__link {
        border: 2px solid $primary;
        border-radius: 10px !important;
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
        padding: 14px 28px !important;
        background-color: $white;
        color: $primary;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        flex-basis: 100%;
        @media (min-width: 768px) {
            // margin-bottom: 28px;
            height: 64px;
            flex: 1 1 0px;
        }
        &:first-child {
            margin-right: 20px;
            @media (max-width: 767px) {
                margin-bottom: 20px;
                margin-right: 0 !important;
            }
        }
        &:hover {
            transition: 0.5s;
            transform: translateY(2px) translateX(2px);
            color: $primary;
        }
    }
    &__link.active {
        background: $primary !important;
        box-shadow: 0px 4px 6px rgba(232, 33, 0, 0.5);
        color: $white;
        @media (min-width: 768px) {
            height: 88px;
        }
    }
    &__item {
        border: 5px solid $color4 !important;
        border-radius: 10px !important;
        @media (max-width: 767px) {
            margin-bottom: 20px !important;
        }
    }
    &__header {
        background-image: url("images/uploads/bgCollapse1010.png") !important;
        background-size: cover;
        // padding: 12px 24px!important;
        padding: 10px 21px 14px 24px;
        border-radius: 0 0 4px 4px !important;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: -1px;
        @media (max-width: 767px) {
            padding: 10px !important;
            align-items: flex-start;
        }
    }
    &__question {
        display: flex;
        align-items: center;
        margin-right: 6px;
        width: calc(100% - 30px);
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start !important;
            margin-right: 5px;
            width: calc(100% - 40px);
        }
    }
    &__question-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: $white;
        width: calc(100% - 60px);
        @media (max-width: 767px) {
            font-size: 16px;
            width: 100%;
        }
    }
    &__question-icon {
        width: 42px;
        @media (max-width: 767px) {
            width: 30px;
            margin-bottom: 10px !important;
        }
    }
    &__answer {
        display: flex !important;
        align-items: center !important;
        @media (max-width: 991px) {
            align-items: flex-start !important;
        }
    }
    &__answer-icon {
        width: 42px;
        margin-right: 16px;
        @media (max-width: 767px) {
            width: 30px;
            margin-right: 10px;
        }
    }
    &__answer-title {
        width: calc(100% - 58px);
        @media (max-width: 767px) {
            width: calc(100% - 40px);
        }
    }
    &__arrow {
        background-image: url("images/icons/arrow-down.svg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 28px;
        height: 11px;
        @media (max-width: 767px) {
            margin-top: 10px;
        }
    }
    &__arrow-up {
        background-image: url("images/icons/arrow-up.svg") !important;
    }
    &__body {
        padding: 5px 100px 16px !important;
        display: none;
        @media (max-width: 767px) {
            padding: 5px 10px 16px !important;
        }
    }
    &__answer-text {
        font-weight: 300;
        font-size: 16px !important;
        line-height: 24px;
        color: $black;
    }
}