.c-profile {
    &--mod {
        margin-bottom: 100px;
        @media (max-width: 768px) {
            margin-bottom: 50px;
        }
    }
    &__list {
        >li {
            margin-bottom: 100px;
            @media (max-width: 768px) {
                margin-bottom: 40px;
            }
        }
    }
    &__item {}
    &__thumb {
        border: 5px solid;
        border-radius: 10px;
        padding: 5px;
    }
    &__thumb-title {
        min-height: 70px;
        text-align: center;
        color: white;
        font-size: 24px;
        font-weight: bold;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__thumb-logo {
        height: calc(100% - 70px);
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 768px) {
            height: auto;
            padding: 20px;
        }
    }
    &__thumb-red {
        border-color: $primary;
    }
    &__info {
        @media (max-width: 768px) {
            margin-top: 30px;
        }
    }
    &__info-list {
        >li {
            padding-bottom: 15px;
        }
        >li:not(:first-child) {
            border-top: 1px solid #cacaca;
            padding-top: 15px;
        }
        >li:last-child {
            padding-bottom: 0;
        }
    }
    &__info-item {
        display: flex;
        align-items: center;
    }
    &__info-left {
        width: 168px;
        text-align: center;
        border: 2px solid;
        border-radius: 5px;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: bold;
        @media (min-width: 768px) and (max-width: 991px) {
            width: 115px;
        }
        @media (max-width: 575px) {
            width: 115px;
        }
    }
    &__info-right {
        margin-left: 20px;
        font-size: 16px;
        width: calc(100% - 168px);
        @media (min-width: 768px) and (max-width: 991px) {
            width: calc(100% - 115px);
        }
        @media (max-width: 992px) {
            margin-left: 10px;
        }
        @media (max-width: 575px) {
            width: calc(100% - 115px);
        }
    }
    &__thumb-blue {
        border-color: $color4;
    }
}

.col-red {
    border-color: $primary;
    color: $primary;
}

.col-blue {
    border-color: $color4;
    color: $color4;
}

.hp-order1__footer-blue {
    background: url("images/uploads/socBlue.png") $color4;
}

.c-w-80 {
    @media (min-width: 992px) {
        width: 80%;
    }
}