.contact {
    background: #f2f3f7;
}

.contact-panel {
    @media (max-width: 767px) {
        margin-bottom: 30px !important;
    }
}

.contact-wp-item {
    margin-bottom: 130px;
    @media (max-width: 767px) {
        margin-bottom: 60px !important;
    }
}

.contact-bigTitle {
    &__bigTitle {
        margin-top: 30px !important;
        margin-bottom: 80px !important;
        @media (max-width: 767px) {
            margin-top: 25px !important;
            margin-bottom: 40px !important;
        }
    }
}

.contact-info {
    margin-bottom: 90px;
    &:last-child {
        margin-bottom: 40px;
        @media (max-width: 767px) {
            margin-bottom: 35px !important;
        }
    }
    @media (max-width: 767px) {
        margin-bottom: 45px !important;
    }
    &__outer {
        border: 5px solid #006bd0;
        border-radius: 10px;
    }
    &__inner {
        padding: 20px 30px 20px 0;
        position: relative;
        background: #fffbf1;
        border-radius: 10px;
        @media (max-width: 991px) {
            padding: 20px 7px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__phone {
        padding: 0 45px;
        @media (max-width: 767px) {
            padding: 0;
            margin-bottom: 15px;
        }
    }
    &__sub-img {
        width: 185px;
        position: absolute;
        right: -9px;
        top: -25%;
        @media (max-width: 767px) {
            width: 85px;
            right: 0px;
            top: -57px;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 48px !important;
        line-height: 72px;
        color: #006bd0;
        margin-bottom: 5px !important;
        @media (max-width: 767px) {
            font-size: 24px !important;
            margin-bottom: 8px !important;
        }
        @media (max-width: 360px) {
            font-size: 17px !important;
        }
    }
    &__icon {
        width: 38px;
        height: 38px;
        @media (max-width: 767px) {
            width: 30px;
            height: 30px;
        }
    }
    &__number-phone {
        font-weight: bold;
        font-size: 48px;
        line-height: 72px;
        @media (max-width: 767px) {
            font-size: 24px;
            line-height: 36px;
        }
        @media (max-width: 360px) {
            font-size: 17px !important;
        }
    }
    &__bg-wp {
        background-image: url(images/uploads/background-contact1020.png) !important;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 403px;
        min-height: 138px;
        margin-left: 45px;
        @media (max-width: 991px) {
            margin-left: 0;
            margin-bottom: 45px;
        }
        @media (max-width: 767px) {
            min-width: 100%;
            min-height: 120px;
            margin-left: 0;
            margin-bottom: 45px;
        }
        @media (max-width: 375px) {
            min-height: 110px;
        }
        @media (max-width: 359px) {
            padding: 5px;
            background-size: contain;
            min-height: 85px;
        }
    }
    &__text {
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 0;
        text-align: center;
        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__mess {
        background: #109ae9;
        box-shadow: 0px 6px 5px rgba(86, 86, 86, 0.25), inset 0px 7px 5px #1881bd;
        border-radius: 10px;
        padding: 12px 20px;
        &:hover {
            color: $white !important;
            text-decoration: none;
            transition: 0.5s;
            transform: translateY(2px) translateX(2px);
        }
        @media (max-width: 767px) {
            padding: 8px 15px;
            margin: 0 30px;
        }
        @media (max-width: 360px) {
            margin: 0;
        }
    }
    &__mail {
        width: 63px;
        @media (max-width: 767px) {
            width: 30px;
        }
    }
    &__add {
        font-weight: bold;
        font-size: 48px;
        line-height: 72px;
        @media (max-width: 767px) {
            font-size: 24px;
            line-height: 36px;
        }
    }
}

.contact-partners {
    &__text {
        font-weight: 300;
        font-size: 16px !important;
        line-height: 24px;
    }
}

.contact-partners-text {
    @media (max-width: 767px) {
        margin-bottom: 50px !important;
    }
}

.c-profile--60 {
    margin-bottom: 60px;
    @media (max-width: 768px) {
        margin-bottom: 40px;
    }
}