.bigTitle {
    &__img {
        width: 100%;
    }
    @media (max-width: 575px) {
        margin-top: 45px !important;
        margin-bottom: 40px !important;
    }
}

.linkTab {
    width: 100%;
    border-radius: 10px;
    border: 2px solid $primary !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    @media (max-width: 767px) {
        padding: 0!important;
    }
    @media (min-width: 768px) {
        margin-bottom: 28px;
        height: 64px;
    }
    &:first-child {
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
    &--active {
        background: $primary !important;
        box-shadow: 0px 4px 6px rgba(232, 33, 0, 0.5);
        padding: 5px;
        @media (min-width: 768px) {
            margin-bottom: 28px;
            height: 88px;
        }
    }
    &:hover {
        transition: 0.5s;
        transform: translateY(2px) translateX(2px);
    }
    &__img {
        width: 100%;
    }
}

.order-sm-1 {
    @media (max-width: 767px) {
        order: 1;
        margin-top: 10px !important;
    }
}

.order-sm-2 {
    @media (max-width: 767px) {
        order: 2;
        margin-top: 8px !important;
    }
}

iframe {
    margin-top: 32px !important;
    margin-bottom: 20px !important;
    border-radius: 10px;
    @media (max-width: 767px) {
        height: 450px !important;
        margin-top: 20px !important;
        margin-bottom: 0px !important;
    }
}

.thumbStore {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
    height: auto;
    display: flex;
    img {
        border-radius: 10px;
    }
    @media (min-width: 768px) {
        height: 100%;
        margin-bottom: 0 !important;
        margin-top: 0px !important;
    }
}

.infoStore {
    border: 3px solid #0064bf !important;
    border-radius: 10px !important;
    padding: 3px 3px 20px 3px !important;
    @media (min-width: 768px) {
        height: 100%;
    }
    &__header {
        background-image: url("images/uploads/bg-info1003a.png");
        background-size: cover;
        // background-repeat: no-repeat;
        background-position: center;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        color: $white;
        padding: 5px 20px;
    }
    &__body {
        padding: 0 9px;
    }
    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 12px !important;
        line-height: 18px;
        color: $black;
    }
}

.contactStore {
    @media (min-width: 768px) {
        height: 100%;
    }
    &__item {
        display: flex;
        align-items: center;
        border-top: 1px solid #cacaca;
        padding: 19px 0 15px 0;

        @media (max-width: 767px) {
            padding: 10px 0 10px 0;
        }
    }
    &__item:first-child {
        border-top: none !important;
    }
    &__name {
        border: 2px solid $primary;
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 7px 10px;
        width: 100%;
        @media (max-width: 767px) {
            padding: 7px 5px !important;
        }
    }
    &__name--Blue {
        border: 2px solid $color5;
    }
    &__info {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
    }
    &__phone {
        background-image: url("images/uploads/bg-btn1003.png");
        background-size: cover;
        border-radius: 10px;
        background-position: center;
        padding: 14px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
        text-decoration: none;

        @media (max-width: 767px) {
            margin-top: 20px!important;
        }
    }
    &__phone--Blue {
        background-image: url("images/uploads/bg-btn1004.png");
    }
    &__phone:hover {
        text-decoration: none;
        transition: 0.5s;
        transform: translateY(2px) translateX(2px);
    }
    &__icon {
        width: 17px;
        height: 17px;
    }
    &__number-phone {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: $white;
    }
}

.thumbProduct {
    width: 100%;
    height: auto;
    img {
        border-radius: 10px;
    }
    @media (min-width: 768px) {
        height: 100%;
        object-fit: inherit;
    }
}

.productImg {
    height: 265px;
    .img-cover {
        border-radius: 5px;
    }
}

.branchTitle {
    .titleBranch-pc {
        margin: auto;
        @media (max-width: 767px) {
          display: none!important;
        }
    }
    
    .titleBranch-mobile {
        display: none;
        @media (max-width: 767px) {
          display: block!important;
          margin: auto;
        }
    }

    // font-weight: 600;
    // font-size: 48px;
    // line-height: 72px;
    // color: $primary;
    // text-shadow: 0px 4px 4px rgba(232, 33, 0, 0.5);
    // -webkit-text-stroke: 0.75px $white;
    // @media (max-width: 1199px) {
    //     font-size: 30px !important;
    // }
    @media (max-width: 768px) {
        margin-bottom: 20px !important;
        margin-top: 40px !important;
        // font-size: 24px !important;
    }
    @media (max-width: 575px) {
        // font-size: 24px !important;
        margin-top: 5px !important;
    }
    @media (max-width: 320px) {
        // font-size: 20px !important;
    }
}

.col-branch {
    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
}

.branchThumb {
    border: 2px solid;
    border-radius: 10px;
    padding: 2px !important;
    width: 100%;
    height: 110px;
    &--boderPrimary {
        border-color: $primary;
    }
    &--borderBrown {
        border-color: $color6;
    }
    img {
        border-radius: 8px;
    }
}

.branchInfo {
    @media (max-width: 575px) {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    @media (max-width: 1199px) and (min-width: 768px) {
        align-items: center;
    }
    &__name {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        @media (max-width: 1199px) and (min-width: 768px) {
            margin-top: 15px;
        }
        @media (max-width: 320px) {
            font-size: 12px !important;
        }
    }
    &__phone {
        display: flex;
        align-items: center;
    }
    &__icon {
        width: 13px;
        height: 13px;
    }
    &__number-phone {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        margin-left: 7px;
        @media (max-width: 320px) {
            font-size: 12px !important;
        }
    }
}

.background-branch {
    background: url("images/uploads/background-branch1.png") no-repeat center top;
    background-size: cover!important;
    padding-top: 80px;
    padding-bottom: 50px;
    border-bottom: 10px solid #E9E9E9;

    @media (max-width: 1920px) {
    padding-top: 150px;
    }

    @media (max-width: 1600px) {
    padding-top: 100px;
    }

    @media (max-width: 767px) {
        border-top: 10px solid #E9E9E9;
        background: #F6F6F6;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 15px;
        margin-top: 30px;
    }
}

.setHeight {
    height: 500px;

    @media (max-width: 375px) {
        .setHeight {
          height: 300px!important;
        }
    }

    @media (min-width: 412px) and (max-width: 475px) {
        .setHeight {
          height: 350px!important;
        }
    }
    
    @media (min-width: 476px) and (max-width: 540px) {
        .setHeight {
          height: 400px!important;
        }
    }
    
    @media (min-width: 541px) and (max-width: 575px) {
        .setHeight {
          height: 450px!important;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        .setHeight {
          height: 575px;
        }
    }
      
    @media (min-width: 1600px) and (max-width: 1920px) {
        .setHeight {
          height: 675px;
        }
    }
}