.purchase-results {
    &--mb {
        margin-bottom: 50px;
        @media (max-width: 992px) {
            margin-bottom: 40px;
        }
    }
    &__slides {
        margin-bottom: 80px;
        &.ptb-70 {
            @media (max-width: 992px) {
                padding-top: 40px !important;
                padding-bottom: 40px !important;
            }
        }
        @media (max-width: 992px) {
            margin-bottom: 40px;
        }
    }
    &__item-white {
        border: 4px solid white;
        border-radius: 15px;
        padding: 3px;
        max-width: 280px;
        margin: auto;
        .bg-white {
            min-height: 450px;
        }
    }
    &__cate {
        border: 4px solid #006bd0;
        border-radius: 10px;
        min-height: 450px;
        margin-bottom: 30px;
    }
    &__cate-head {
        background: #006bd0;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: white;
        padding: 12px 10px;
        border-radius: 0 0 10px 10px;
    }
    &__cates {
        padding: 10px;
        margin-bottom: 0 !important;
        >li {
            position: relative;
            padding-left: 15px;
            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 9px;
                left: 0;
                height: 6px;
                width: 6px;
                background: #000000;
                transform: rotate(45deg);
            }
        }
    }
    &__cate-link {
        font-weight: bold;
        font-size: 16px;
        color: #000000;
    }
    &__pagination {
        margin-bottom: 70px;
        flex-wrap: wrap;
        justify-content: flex-end;
        @media (max-width: 575px) {
            justify-content: center;
        }
    }
    &__page-item {
        background: white;
        border-radius: 10px;
        &:not(:last-child) {
            margin-right: 20px;
            @media (max-width: 992px) {
                margin-right: 10px;
            }
        }
        &.active {
            background: #109ae9;
            border-radius: 10px;
            .purchase-results__page-link {
                color: white;
            }
            @media (max-width: 992px) {
                border-radius: 5px;
            }
        }
    }
    &__page-link {
        width: 73px;
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;
        border: 1px solid #109ae9;
        color: #109ae9;
        border-radius: 10px;
        @media (max-width: 992px) {
            width: 40px;
            height: 45px;
            font-size: 16px;
            font-weight: bold;
            border: 1px solid #109ae9;
            color: #109ae9;
            border-radius: 5px;
        }
    }
    &__page-item-dot {
        margin-right: 20px;
        @media (max-width: 992px) {
            margin-right: 10px;
        }
    }
    &__page-dot {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.interior-titleTFooter--blue {
    background: #134cad;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #134cad;
}

.interior-titleTFooter.interior-titleTFooter--blue::after {
    z-index: 0 !important;
    text-shadow: 0 8px 6px #00000040;
}

.p-inherit {
    position: inherit;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
}

.latest-purchase {
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px;
    @media (max-width: 575px) {
        font-size: 28px;
    }
    &--mb {
        margin-bottom: 50px;
        @media (max-width: 575px) {
            margin-bottom: 40px;
        }
    }
}

.stickys {
    @media (min-width: 992px) {
        position: sticky;
        top: 30px;
    }
}