.safe-purchase {
    &__head {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    &__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        @media (max-width: 768px) {
            display: block;
        }
        >li {
            margin-bottom: 22px;
        }
    }
    &__link {
        min-width: 210px;
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
        color: $primary;
        border: 2px solid $primary;
        text-align: center;
        border-radius: 10px;
        padding: 13px 10px;
        &:hover {
            color: $primary;
        }
        @media (max-width: 768px) {
            padding: 8px 10px;
            width: 100%;
        }
        &.active {
            background: $primary;
            color: white;
            padding: 25px 10px;
            @media (max-width: 768px) {
                padding: 8px 10px;
                width: 100%;
            }
        }
    }
}

.interior-titleTFooter.bg-color1 {
    background: #e82100;
    -webkit-background-clip: text !important;
}

.safe-purchase-order1 {
    &__item {
        border: 5px solid $color4;
        padding: 5px;
        border-radius: 10px;
    }
    &__title {
        min-height: 95px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin-bottom: 5px;
        padding: 5px 15px;
        @media (max-width: 768px) {
            min-height: 70px;
        }
    }
    &__thumb {
        height: 200px;
    }
    &__info {
        padding: 20px 33px;
        @media (max-width: 768px) {
            padding: 10px 20px;
        }
    }
    &--sub3 {
        padding: 50px 20px;
        .safe-purchase-order1__thumb {
            height: auto;
        }
        @media (max-width: 768px) {
            padding: 20px 10px;
            .safe-purchase-order1__thumb {
                margin-bottom: 20px;
            }
        }
    }
}

.borderBottom-10 {
    border-bottom: 10px solid #e9e9e9;
}

.bg-safe-purchare-2 {
    background: url("images/uploads/bg-safe-purchase-2-1920.png") no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 300px;
    @media (min-width: 992px) and (max-width: 1440px) {
        padding-top: 200px;
    }
    @media (max-width: 992px) {
        padding-top: 40px;
        padding-bottom: 40px;
        background: $primary;
    }
}

.bg-safe-purchare-3 {
    background: url("images/uploads/bg-safe-purchase-3.png") no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 300px;
    @media (min-width: 1440px) {
        background: url("images/uploads/bg-safe-purchase-3-1920.png") no-repeat;
        background-size: cover;
        background-position: top;
    }
    @media (min-width: 992px) and (max-width: 1440px) {
        padding-top: 290px;
    }
    @media (max-width: 992px) {
        padding-top: 20px;
        background: #f6f6f6;
    }
}

.safe-purchare-order2 {
    &__list {
        margin-bottom: 0 !important;
        >li {
            padding-bottom: 90px;
            @media (max-width: 992px) {
                padding-bottom: 40px;
            }
        }
    }
    &__thumb {
        height: 300px;
        >img {
            border-radius: 10px;
        }
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    &__info {
        border: 5px solid $color2;
        border-radius: 10px;
        padding: 10px;
        @media (max-width: 768px) {
            &.h-100 {
                height: max-content !important;
            }
        }
    }
    &__info-head {
        text-align: center;
        background: url("images/uploads/socOrange.png");
        padding: 7px 10px;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    &__info-desc {
        background: white;
        border-radius: 10px;
        height: calc(100% - 55px);
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__info-text {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

.borderWhite-3 {
    border: 3px solid white;
    border-radius: 10px;
}

.img-cover.borderWhite-3 {
    @media (min-width: 768px) and (max-width: 1199px) {
        object-fit: unset;
    }
}

.listRed .hp-order4__item {
    border: 5px solid $primary;
}

.purchase-flow-socBlue {
    text-align: center;
    padding: 7px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.iconNumber50 {
    width: 50px;
    height: 50px;
}

// purchase-flow
.purchase-flow {
    &__head {
        display: flex;
        align-items: center;
        padding: 5px;
        min-height: 90px;
    }
    &__item {
        padding: 5px !important;
        min-height: 530px;
    }
    &__thumb {
        height: 190px;
    }
    &__item-sub {
        min-height: calc(100% - 100px);
    }
    &__info {
        padding: 40px 10px;
        @media (max-width: 575px) {
            &.text-center {
                text-align: left !important;
            }
        }
    }
    &__header-big2 {
        margin-top: 60px;
    }
}

.text24 {
    min-height: 24px;
}

.safe-purchare-order2__item.row-reverse {
    flex-direction: row-reverse;
}

.hp-order8.listRed {
    .hp-order8__overlay {
        @media (min-width: 480px) and (max-width: 767px) {
            max-width: 60%;
            top: -18%;
        }
        @media (max-width: 480px) {
            top: -75px;
        }
    }
}

ul.hp-order7__list.listRed.row > li {
    @media (min-width: 768px) {
        margin-top: 45px;
    }
}

ul.hp-order7__list.listRed.row {
    @media (min-width: 768px) {
        margin-bottom: 0!important;
    }
    
}

// section.hp-bg-1.borderBottom-10 {
//     @media (min-width: 992px) and (max-width: 1366px) {
//         padding-top: 160px;
//     }
// }

section.hp-bg-1.borderBottom-10.hp-bg-test {
    @media (min-width: 1441px) {
        background: url("images/uploads/hp-bg-1-1920-1.png") no-repeat;
        background-size: cover;
        background-position: top;
    }
    background: url("images/uploads/background-test1.png") no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 300px;
    @media (min-width: 992px) and (max-width: 1440px) {
        padding-top: 250px!important;
    }
    @media (max-width: 992px) {
        margin-top: 30px;
        padding-top: 20px;
        background: #f6f6f6;
    }
}